body{
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
#btn {
    width: 200px;
    height: 40px;
    background: linear-gradient(
      to top,
      hsl(330, 81.2%, 60.4%),
      hsl(255, 91.7%, 76.3%),
      hsl(353, 95.7%, 81.8%)
    );
    border-radius: 5px;
    cursor: pointer;
  }
